.myInput {
  padding: 6px;
  border: none;
  font-size: 20px;
  height: 35px;
}

.myInput {
  width: 400px;
  background-color: var(--header-color);
  color: var(--text-color)
}

.myInput::placeholder {
  color: var(--text-color)
}
